extends layout

block content

  if (level=='not logged' || level=='invalid')
    .w3-container.w3-2020-mosaic-blue
      .w3-left
        h1 
          a(href='/' style="text-decoration:none") Film Log
      .w3-right
        h3
          a(href='/signup') Sign Up
          |  |     
          a(href='/login') Login
  else 
    .w3-container.w3-2020-mosaic-blue
      .w3-left
        h1 
          a(href='/' style="text-decoration:none") Film Log
      .w3-right
        h3 
          img(src=`http://localhost:4446/user/profile_picture/${username}` style='width:50px')
          |
          |
          a(href='/profile') #{username}
          |  |        
          a(href='/films') Films
          if level == 'admin'
            |  |        
            a(href='/admin') Admin Area
          |  |        
          a(href='/logout') Logout  

  .w3-container
    h1 Log Panel
    p
    table
      tr
        th Movie
        th Username
        th Rating
        th Review
        th Like
      each l in logs
        tr 
          td(style='padding-bottom:20px;')
            a(href='/film/' + l.idMovie)= l.movie
          td= l.user
          td= l.rating
          td= l.review 
          if l.like=='true'
            td ❤️  
          else
            td       
          td 
            .w3-btn.w3-2020-mosaic-blue.w3-right
              a(class='button', href='/log/edit/' + l._id) Edit
            .w3-btn.w3-2020-flame-scarlet.w3-right(style='margin-right: 20px;')
              a(class='button', href='/log/delete/' + l._id) Delete
