extends layout

block content

  if (level=='not logged' || level=='invalid')
    .w3-container.w3-2020-mosaic-blue
      .w3-left
        h1 
          a(href='/' style="text-decoration:none") Film Log
      .w3-right
        h3
          a(href='/signup') Sign Up
          |  |     
          a(href='/login') Login
  else 
    .w3-container.w3-2020-mosaic-blue
      .w3-left
        h1 
          a(href='/' style="text-decoration:none") Film Log
      .w3-right
        h3 
          img(src=`http://localhost:4446/user/profile_picture/${username}` style='width:50px')
          |
          |
          a(href='/profile') #{username}
          |  |        
          a(href='/logout') Logout
  .w3-container.w3-center
    p
    h1 Adventure awaits!
    p
    .w3-btn.w3-2020-mosaic-blue
      a(class='button', href='/films') 
        h4 Start exploring
  .w3-container
    if news.length
        p
        h1 News
        for n in news
          if n.visible=='yes'
            p
            .w3-container.w3-border.w3-round-large(style='margin: 10px 700px 10px 250px;')
              p 
                strong= n.title
              p= n.description
              p(style='text-align: right;margin-top: 30px;')
                i= n.date
              p
